@import "tailwindcss";

body, html {
  overflow: hidden;
  height: 100%;
}

.roboto {
  font-family: "Roboto", sans-serif;
}


.cormorant-garamond{
  font-family: "Cormorant Garamond", serif;
}

.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
}

.semicircle {
  width: 760px;
  height: 380px;
  background: radial-gradient(ellipse at center, #47A476 0%, #003F20 100%);
  clip-path: ellipse(50% 100% at 50% 100%);
}

.circlestroke {
  width: 846px;
  height: 423px;
  position: relative;
}

.circlestroke svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.shop-button {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.shop-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: #47A476;
  border-radius: 50%;
  transform: translate(-75%, -75%) scale(0);
  transition: transform 0.6s ease;
  z-index: 0;
}

.shop-button:hover::before {
  transform: translate(-50%, -50%) scale(2);
}

